/* Mise en forme pour le header */
header {
	position: relative;
	height: 60px;
	background-color: #E7E7E7;
	margin: 10px;
	border-radius: 6px;
}

.header-disconnect {
	position: absolute;
	width: 300px;
	height: 60px;
	right: 0;
	top: 0;
	background-color: #FF791F;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}

.header-disconnect > p {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

header .header-elem {
	display: inline-block;
	width: auto;
	height: 60px;
	padding: 10px;
	border-style: hidden;
	border-width: 1px;
	border-color: #0002;
	text-align: center;
	background-color: #FF791F;
	margin-right: 10px;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}