/* Mise en forme pour le header */
header {
	position: relative;
	height: 60px;
	background-color: #E7E7E7;
	margin: 10px;
	border-radius: 6px;
}

.header-disconnect {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #FF791F;
	margin: 0.5rem 10px 0.5rem 0.5rem;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}


header .header-elem {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 10px;
	background-color: #FF791F;
	margin: 0.5rem 10px 0.5rem 0.5rem;
	border-radius: 6px;
	text-decoration: none;
	color: white;
}

.header-title {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.header-elem:hover {
	background-color: #2CB3E3;
}

.header-disconnect:hover{
	background-color: #2CB3E3;
	color: white;
}