/* CSS de positionnemt des éléments */

.centered {
	text-align: center;
}

.div-center-h {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.div-center-v {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.mid {
	margin-top: 100px;
}

.button {
	margin: 10px;
}
